*{
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    font-size: 14px;
    line-height: 1.80857;
    font-weight: normal;
    background-color: #15133C;
}

#title{
    text-align: center;    
    background-color: #15133C;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    color: #F1EEE9;
    border-width: 1px;
}

#instructions{
    color: #F1EEE9; 
    background-color: #15133C;
    font-size: 18px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    border-width: 1px;

}

#add-btn, #displayAlbum{
    display: inline-block;
    border-radius: 10rem;
    color: #f5f3f4;
    transition: all .3s;
    font-size: 20px;
    margin-bottom: 2%;
    background-color: #15133C;
    border-color: #f5f3f4;
}

#add-btn{
    margin-right: 2%;
}


.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteBtn{
    display: inline-block;
    padding: .25rem 0.5rem;
    border-radius: 10rem;
    color:#F1EEE9;
    background-color: #15133C;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0, 0.4);
}

.modal-content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

.modal-content label{
    margin-bottom: 0px;
    font-size: 1rem;
}

.close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content p{
    font-weight: bold;
    font-size: 1.5rem;
}

#libraryTable{
    display: none;
}

.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* table styling starts here */
caption{
    font-size: 18px;
    border: 2px solid black;
    background-color: #FFDAAF;
    border-radius: 5px;
    border-width: 1px;
}

table{
    border-spacing: 0.5rem;
    table-layout: fixed;
    margin-left: 15%;
}

table, th, td {
    width: 75%;
    border-collapse: collapse;
    border: 1px solid black;
    color: #f5f3f4;
}

th, td{
    padding: 0.5rem;
}

tbody tr{

    background-color: #15133C;
}


th{
    background-color: #15133C;
    color: #f5f3f4;
}

#libraryTable h2{
    text-align: center;
    color: #f5f3f4;
    font-size: 20 px;
}
